.upload-item{
    cursor: pointer; 
    position: relative;
}
.upload-item .upload-item-delete, 
.upload-item .upload-item-rotate {
    position: absolute;
}
.default-theme .upload-item {
    background: url('images/upload-button-v3.png') no-repeat;
    width: 127px;
    height: 95px;     
    overflow: hidden;
    float: left;
    margin: 0 0 5px 5px;
}
.default-theme .upload-item-single {
    width: 127px;
    height: 95px;     
    overflow: hidden;
    float: left;
    margin: 0 0 5px 5px;
    cursor: pointer;
}
.default-theme .upload-item1 img{
    width:127px;
    height:95px;
}
.default-theme .upload-item-loading{
    background: url('images/upload-loading.gif') no-repeat scroll center;  
}
.default-theme .upload-item .upload-item-delete{
    background: url('images/deleteimg.png') no-repeat;
    width: 24px;
    height: 24px;  
    right: 1px;
    top: 3px;
    border:0;
}
.default-theme .upload-item .upload-item-rotate{
    background: url('images/rotate.png') no-repeat;
    width: 24px;
    height: 24px;  
    left: 3px;
    top: 3px;
    border:0;
}
.default-theme .fileuploadie7{
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); 
    width: 120px;
    height: 90px;
    display: block;
    cursor: pointer;
}
/*for ie7*/
.default-theme .upload-item img.background {
    width: 120px;
    height: 90px;
}