@model List<IMIC.BUSINESSOBJECTS.EntityObject.UtilitiesDetail_Object>

@using (Html.BeginForm("pv_tienNghi", "Post", FormMethod.Post, new { @class = "frm-pv" }))
{
    @Html.Hidden("postID",Model[0].PostId)
    <div class="titlerightbox" id="tn">Tiện nghi</div>
    <div class="tiennghi tn box">
        <div class="">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="inforows">
                    @Html.HiddenFor(q => Model[i].UtilitiesCategoryId)
                    @Html.CheckBoxFor(q => Model[i].Applyed)
                    @Html.LabelFor(q => Model[i].Applyed, Model[i].UtilitiesCategoryObject.UtilitiesCategoryName)
                </div>
            }
        </div>
    </div>
}