
@{
    Layout = null;
}

<div style='width:995px; margin: 0px auto; float: left;'>
    <div class="banner-slide-list-MICROSITE_BASIC_INFO biz-banner-list-slide banner-slide-sponsor" style="clear: both;">
        <ul class="bjqs">
            <li>
                <a href="https://www.foody.vn/thuong-hieu/food-center-group?c=ho-chi-minh" title="Food House Restaurant" target="_blank" onclick="ga('ads.send', 'event', 'Banner trang MICROSITE_BASIC_INFO', 'Click', 'Food House Restaurant');">
                    <img src="https://media.foody.vn/biz_banner/foody-3-636376967898158109.jpg" alt="Food House Restaurant" title="" width="995" height="125" />
                </a>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="ga('ads.send', 'event', 'Banner trang MICROSITE_BASIC_INFO', 'Impression', 'Food House Restaurant');" width="0" height="0" />
            </li>
        </ul>
    </div>
</div>
