
@{
    Layout = null;
}

<div class="items">
    <div class="footer-friends-data">
        <a href="/thanh-vien/nhhdvh97" rel="nofollow">
            <span style="position: relative">
                <img src="https://media.foody.vn/usr/g42/415013/avt/c60x60/foody-avatar-162-636378342067527806.jpg" alt="nhhdvh97" title="nhhdvh97" />
                <span class="checked-verified-icon top-user-annual-points"></span>
            </span>
            <span class="user-name">Huy Nguyễn</span>
        </a>
    </div>
</div>



<div class="items">
    <div class="footer-friends-data">
        <a href="/ho-chi-minh/top-thanh-vien">
            <span class="more">Top</span>
            <div>View more</div>
        </a>
    </div>
</div>
